/* Home page after sign in/ sign up */

body {
    margin-top: 4px;
    margin-right: 0px;
    margin-left: 0px;
}

.horizNav {
    
    margin: 0px;  
    height: 45px;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.horizNav img {
    width: 20px;
    height: 20px;
}

#profileImage {
    width: 27px;
    height: 27px;
    /* background: url("unnamed.png") no-repeat; */
    background-size: contain;
    border-radius: 50%;
    vertical-align: middle;
    border: none;
	color:black;
}

#profileImage:hover {
    cursor: pointer;
}

#gridImage {
    width: 16px;
    height: 16px;
    background: url("images/grid.png") no-repeat;
    background-size: contain;
    border: none;
    vertical-align: middle;
}

#gridImage:hover {
    /* background: url("images/grid-after-click.png") no-repeat; */
    /* background-size: contain; */
    cursor: pointer;
}

#vidImage {
    width: 20px;
    height: 20px;
    background: url("images/vid.jpeg") no-repeat;
    background-size: contain;
    border: none;
    vertical-align: middle;
}

#bellImage {
    width: 20px;
    height: 20px;
    background: url("images/bell.webp") no-repeat;
    background-size: contain;
    border: none;
    vertical-align: middle;
}

#bellImage:hover {
    cursor: pointer;
}

#vidImage:hover {
    cursor: pointer;
}

#buttons input {
    margin-left: 20px;
}

#logo {
    width: 86px;
    height: 20px;
    vertical-align: middle;
}

#searchText {
    padding-left: 10px;
    width: 66%;
    height: 25px;
    margin-right: 0px;
    border: 1px solid rgb(196, 196, 196);
    font-size: small;
    font-weight: 300;
}

#searchBtn {
    position: relative;                  
    bottom: -4px;                          
    margin-left: -4px;
    border: 1px solid rgb(196, 196, 196);
    border-left: none;
    border-radius: 0px;
    background-color: rgb(238, 238, 238);
    height: 29px;
    width: 50px;
}

#searchBtn:hover {
    cursor: pointer;
}

#buttons {
    width: 175px;
    min-width: 175px;
    float: right;
    align-items: right;
    margin-top: 8px;
    margin-right: 15px;
    
}

#searchBox {
    text-align: center;
    width: calc(100% - 305px);
    float: left;
}

#youtubelogo {
    width: 100px;
    float: left;
    margin-top: 8px;
    margin-left: 15px;
}

.vertNav {
    position: fixed;
    top: 50px;
    left: 0px;
    float: left;
}

.vertNav ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.vertNav li {
    text-align: center;
    height: 80px;
    width: 80px;
}

.vertNav li:hover {
    cursor: pointer;
    background-color: rgb(243, 243, 243);
}

.vertNav li a {
    display: block;
    width: 80px;
    height: 80px;
    text-decoration: none;
    color: black;
}

.vertNav li :active {
    text-decoration: none;
    color: red;
}

.vertNav img {
    margin: 2px;
    margin-top: 10px;
    width: 25px;
    height: 25px;
}

.vertNav p {
    margin: 0px;
    font-size: small;
}

.videos {
    position: fixed;
    top: 50px;
    left: 80px;
    background-color: rgb(247, 247, 247);
    overflow: scroll;
    float: left;
    width: calc(100% - 80px);
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    margin: auto;
    padding: 0px;
    height: calc(100% - 50px);
}

.videos form {
    display: inline;
    margin: 10px;
    border: none;
    background-color:  rgb(247, 247, 247);
    margin-bottom: 10px;
    float: left;
    width: calc((100% - 80px) / 4);
    height: calc(width * 1.777);
}

.videos button {
    margin: 10px;
    border: none;
    background-color:  rgb(247, 247, 247);
    margin-bottom: 10px;
    float: left;
    width: 95%;
    height: 95%;
}

.videos button:hover {
    cursor: pointer;
}

.videos img {
    width: 100%;
}

.videos button h4 {
    text-align: left;
    margin: 2px;
}

.videos button p {
    text-align: left;
    margin: 2px;
}

#homeBtn p {
    color: red;
}

@media (max-width: 921px)
{
    .videos form {
        width: calc((100% - 65px) / 3);
    }
}

@media (max-width: 670px)
{
    .videos form {
        width: calc((100% - 45px) / 2);
    }
}

#channelImage {
    width: 27px;
    height: 27px;
    /* background: url("unnamed.png") no-repeat; */
    background-size: contain;
    border-radius: 50%;
    vertical-align: middle;
    border: none;
    color: black;
    float: left;
}

#channelImage:hover {
    cursor: pointer;
}

#channelIm {
    margin: 2px 10px 0px 2px;
    float: left;
    height: 40px;
}