#signin{
	width: 35%;
	height: calc(100% - 80px);
	text-align:center;
	border: 1px solid rgb(190, 190, 190);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-49%, -49%);
	border-radius:8px;
}

#youtubelogo{
	width:140px;
	height:45px;
}

#lineh{
	line-height:80%;
}

#div1{
	padding:15px;
}

#signinbutton{
	font-family: "Google Sans",Roboto,Arial,sans-serif;
	background-color:#1a73e8;
	font-size:14px;
	width: 30%;
	height: 45px;
	position: relative;
	overflow: auto;
	border-radius:8px;
	border-color: white;
	color:white;
}

#email{
	border: 1px solid rgb(190, 190, 190);
	border-radius: 8px;
	width: calc(100% - 150px);
	font-size: calc(100px - 70px);
	font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
}

#password{
	border: 1px solid rgb(190, 190, 190);
	border-radius: 8px;
	width: calc(100% - 150px);
	font-size: calc(100px - 70px);
	font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
}

#donthaveanaccount{
	font-size:16px;
	position:relative;
}

::placeholder {
  color: #bfbfbf;
}