#signup{
	width: 35%;
	height: calc(100% - 70px);
	text-align:center;
	border: 1px solid rgb(190, 190, 190);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-49%, -49%);
	border-radius:8px;
}

#youtubelogo{
	width: calc(100% - 275px);
	height: calc(100% - 175px);
}

#h1id{
	font-size: 150%;
}

#lineh{
	line-height:80%;
}

#div1{
	padding:15px;
}

#email{
	border: 1px solid rgb(190, 190, 190);
	border-radius: 4px;
	width: 89%;
	font-size: calc(100px - 70px);
	font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
}

#signupbutton{
	font-family: "Google Sans",Roboto,Arial,sans-serif;
	background-color:#1a73e8;
	font-size:14px;
	width: 35%;
	height: 50px;
	position: relative;
	overflow: auto;
	border-radius:8px;
	border-color: white;
	color:white;
}

#fname{
	border: 1px solid rgb(190, 190, 190);
	border-radius: 4px;
	width: 40%;
	font-size: 20px;
	font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
}

#lastname{
	border: 1px solid rgb(190, 190, 190);
	border-radius: 4px;
	width: 40%;
	font-size: 20px;
	font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
}

#password{
	border: 1px solid rgb(190, 190, 190);
	border-radius: 4px;
	width: 47%;
	font-size: 20px;
	font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
}

#confirm{
	border: 1px solid rgb(190, 190, 190);
	border-radius: 4px;
	width: 47%;
	font-size: 20px;
	font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
}

#donthaveanaccount{
	font-size:16px;
	position:relative;
}

::placeholder {
  color: #bfbfbf;
}