#signin {
	width: 450px;
	height: 500px;
	text-align:center;
	border: 1px solid rgb(190, 190, 190);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-49%, -49%);
	border-radius: 8px;
}

#youtubelogo {
	width: 200px;
	margin: 10px;
}

#lineh {
	line-height: 80%;
}

#lineh img {
	margin-top: 5px;
}

#lineh h1 {
	font-size: xx-large;
}

#signinbutton {
	background-color: #1a73e8;
	font-size: large;
	width: 100px;
	height: 45px;
	border-radius: 8px;
	border-color: white;
	border-style: none;
	color: white;
}

#email {
	border: 1px solid rgb(190, 190, 190);
	border-radius: 4px;
	width: 360px;
	height: 30px;
	font-size: large;
}

#password{
	border: 1px solid rgb(190, 190, 190);
	border-radius: 4px;
	width: 360px;
	height: 30px;
	font-size: large;
}

#donthaveanaccount {
	font-size: 16px;
	position: relative;
	margin: 30px;
}

::placeholder {
  color: #bfbfbf;
}

#pass {
	margin: 50px;
}

#mail {
	margin: 50px;
}