#signup {
	width: 450px;
	height: 500px;
	text-align: center;
	border: 1px solid rgb(190, 190, 190);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-49%, -49%);
	border-radius: 8px;
}

#youtubelogo {
	width: 200px;
	margin: 10px;
}

#lineh h1 {
	font-size: x-large;
}

#lineh {
	line-height: 80%;
}

#lineh img {
	margin-top: 5px;
}

#email {
	border: 1px solid rgb(190, 190, 190);
	border-radius: 4px;
	width: 360px;
	height: 30px;
	font-size: large;
}

#signupbutton {
	background-color: #1a73e8;
	font-size: large;
	width: 100px;
	height: 40px;
	border-radius: 8px;
	border-color: white;
	border-style: none;
	color: white;
}

#fname {
	border: 1px solid rgb(190, 190, 190);
	border-radius: 4px;
	width: 175px;
	height: 30px;
	font-size: large;
}

#lastname {
	border: 1px solid rgb(190, 190, 190);
	border-radius: 4px;
	width: 175px;
	height: 30px;
	font-size: large;
}

#password {
	border: 1px solid rgb(190, 190, 190);
	border-radius: 4px;
	width: 175px;
	height: 30px;
	font-size: 20px;
}

#confirm {
	border: 1px solid rgb(190, 190, 190);
	border-radius: 4px;
	width: 175px;
	height: 30px;
	font-size: 20px;
}

::placeholder {
  color: #bfbfbf;
}

#name {
	margin: 40px;
}

#pass {
	margin: 40px;
}

#mail {
	margin: 40px;
}

#signin {
	margin: 30px;
}