body {
    margin-top: 4px;
    margin-right: 0px;
    margin-left: 0px;
}

.horizNav {
    margin: 0px;  
    height: 55px;
	border-bottom: 1px solid rgb(226, 226, 226);
}

.horizNav img {
    width: 20px;
    height: 20px;
}

#logo {
    width: 86px;
    height: 30px;
    vertical-align: middle;
}

#searchText {
	position: relative;
	left: -4px;
    width: 81%;
    height: 27px;
    margin-right: 0px;
	font-size: small;
	border: none;
	font-weight: 300;
	outline: none;
}

#searchBtn:hover {
    cursor: pointer;
}

#searchBox {
	margin-top: 9px;
    text-align: center;
    width: calc(100% - 305px);
    float: left;
}

#youtubelogo {
    width: 100px;
    float: left;
    margin-top: 12px;
    margin-left: 15px;
}

#searchBox form {
	width: 65%;
    height: 30px;
	border: 1px solid rgb(196, 196, 196);
	margin: auto;
	border-radius: 3px;
}

#searchBox form img {
	margin: 5px;
	float: left;
	vertical-align: middle;
}

#buttons input {
    margin-left: 20px;
}

#buttons {
    width: 175px;
    min-width: 175px;
    float: right;
    align-items: right;
    margin-top: 8px;
    margin-right: 15px;
}

#upload {
    text-decoration: none;
}

#profileImage {
    width: 32px;
    height: 32px;
    /* background: url("unnamed.png") no-repeat; */
    background-size: contain;
    border-radius: 50%;
    vertical-align: middle;
    border: none;
}

#profileImage:hover {
    cursor: pointer;
}

li img {
	vertical-align: middle;
	text-align: center;
}

.vertNav {
    position: fixed;
    top: 60px;
    left: 0px;
	float: left;
    border-right: 1px solid  rgb(226, 226, 226);
    border-bottom: 1px solid  rgb(226, 226, 226);
}

.vertNav ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.vertNav li {
    text-align: center;
    height: 80px;
    width: 80px;
}

.vertNav li:hover {
    cursor: pointer;
    background-color: rgb(243, 243, 243);
}

.vertNav li a {
    display: block;
    width: 80px;
    height: 80px;
    text-decoration: none;
    color: black;
}

.vertNav li :active {
    text-decoration: none;
    color: red;
}

.vertNav img {
    margin: 2px;
    margin-top: 10px;
    width: 25px;
    height: 25px;
}

#urvidBtn p {
	color: red;
}

.vertNav li input {
	margin: 20px;
}

#buttonme {
	position: relative;
	font-size: 16px;
	height: 35px;
	width: 100px;
	margin-top: 1.5%;
	border: 1px solid rgb(230, 230, 230);
	border-radius: 3px;
	background-color:white;
}

.videos {
	position: absolute;
    top: 60px;
    left: 80px;
    float: left;
    width: calc(100% - 80px);
    height: calc(100% - 60px);
}

.videos p {
	margin: 20px;
}

#channel_videos {
	font-size: 28px;
	font-weight: bold;
}

.checkbox_vid {
    position: relative;
    top: calc(50% - 12px);
    margin-left: 15px;
    vertical-align: middle;
}

.checkbox_vid input {
    margin-right: 20px;
}

#sorting {
    width: 100%;
    overflow: hidden;
	height: 50px;
	border-bottom: 1px solid rgb(226, 226, 226);
	border-top: 1px solid rgb(226, 226, 226);
}

#checkboxvid {
    float: left;
	height: 100%;
    width: 20%;
    min-width: 210px;
	border-right: 1px solid rgb(226, 226, 226);
}

#visibility {
	width: calc(80%/6 - 1px);
    height: 100%;
    float: left;
}

#visibility span {
    position: relative;
    top: calc(50% - 10px);
    margin: 30px;
}

#restrictions {
    float: left;
	width: calc(80%/6 + 18px);
	height: 100%;
}

#restrictions span {
    position: relative;
    top: calc(50% - 10px);
    margin: 30px;
}

#date {
    float: left;
	width: calc(80%/6 - 20px);
	height: 100%;
}

#date span {
    position: relative;
    top: calc(50% - 10px);
    margin: 30px;
}

#views {
    float: left;
	width: calc(80%/6 - 30px);
	height: 100%;
}

#views span {
    position: relative;
    top: calc(50% - 10px);
    margin: 30px;
}

#comments {
    float: left;
	width: calc(80%/6 - 10px);
    height: 100%;
}

#comments span {
    position: relative;
    top: calc(50% - 10px);
    margin: 30px;
}

#likes {
    float: left;
	width: calc(80%/6 + 12px);
	height: 100%;
}

#likes span {
    position: relative;
    top: calc(50% - 10px);
    margin: 10px;
}

#header {
    margin: 0px;  
    height: 50px;
    border-bottom: 1px solid rgb(226, 226, 226);
}

#upload_vid_p {
	font-size:20px;
	float:left;
}

#upload_image_div {
	margin-top:25px;
	text-align:center;
}

#upload_image {
	padding: 10px;
	border: 0px solid rgb(226, 226, 226);
	background-color:rgb(226, 226, 226);
	border-radius: 50%;
}

#drag_drop_p {
	padding:5px;
	color: #212121;
}

#private_until_p {
	padding:5px;
	color: #0000008C;
}

#select_files {
	border: 0px solid rgb(226, 226, 226);
	font-size:14px;
	font-family: 'Roboto', 'Noto', sans-serif;
	background-color: #065fd4;
	color:white;
	width:160px;
	height:36px;
}

.footer_p {
	margin-top:20px;
	font-size:12px;
	font-family: 'Roboto', 'Noto', sans-serif;
}

#centerit{
	padding-top:-30px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius:15px;
  width: 800px;
  height:400px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
