.horizonNav {
    margin: 0px;  
    height: 90px;
    border-bottom: 1px solid rgb(226, 226, 226);
	 box-shadow: 0px 2px rgb(240, 240, 240);
}

#profileImage {
	margin-top:16px;
	background-color:orange;
	float:right;
    width: 40px;
    height: 40px;
    /* background: url("unnamed.png") no-repeat; */
    background-size: contain;
    border-radius: 50%;
    vertical-align: middle;
    border: none;
}

#profileImagevert {
	margin-top:20px;
	background-color:orange;
    width: 40px;
    height: 40px;
    /* background: url("unnamed.png") no-repeat; */
    background-size: contain;
    border-radius: 50%;
    vertical-align: middle;
    border: none;
}

img.youtubelogo{
	margin-top:10px;
	float: left;
	width: 12%;
	height:70%;
}

#buttonme{
	position:relative;
	margin-right:5px;
	font-size:16px;
	float:right;
	height:40%;
	width:12%;
	margin-top:1.5%;
	border: 1px groove;
	background-color:white;
}

#searchbar{
	margin-top:10px;
    text-align: center;
    width: 70%;
    float: left;
}

#searchText {
	margin-left:-4px;
    width: 40%;
    height: 25px;
    margin-right: 0px;
    border: 1px solid rgb(196, 196, 196);
    font-size: small;
    font-weight: 300;
}

#searchBtn {
	margin-top:10px;
    position: relative;                                          
    margin-left: 4px;
    border: 1px solid rgb(196, 196, 196);
    border-right: none;
    border-radius: 0px;
    background-color: rgb(238, 238, 238);
    height: 29px;
    width: 50px;
	overflow:hidden;
}

#searchBtnimg{
	width:50%;
	height:50%;
}

.vertNav{
	border-right: 1px solid rgb(226, 226, 226);
	border-bottom: 1px solid rgb(226, 226, 226);
    top: 90px;
    left: 0px;
    float: left;
}

.vertNav ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.vertNav li {
    text-align: center;
    height: 80px;
    width: 80px;
}

.vertNav li:hover {
    cursor: pointer;
    background-color: rgb(243, 243, 243);
}

.vertNav li a {
    display: block;
    width: 80px;
    height: 80px;
    text-decoration: none;
    color: black;
}

.vertNav li :active {
    text-decoration: none;
    color: red;
}

.vertNav img {
    margin: 2px;
    margin-top: 10px;
    width: 25px;
    height: 25px;
}

.vertNav p {
    margin: 0px;
    font-size: small;
}

.videos{
	margin-left:90px;
}

#channel_videos{
	font-size:28px;
	font-family:'YT Sans', 'Roboto', 'Arial', sans-serif;
	font-weight:bold;
}


.checkbox_vid{
	padding-left:1em;
	margin-top:5%;
}

#sorting{
	overflow:hidden;
	height:50px;
	margin-left:81px;
	border-bottom:1px solid rgb(226, 226, 226);
	border-top: 1px solid rgb(226, 226, 226);
}

#checkboxvid{
	height:100%;
	width:20%;
	border-right: 1px solid rgb(226, 226, 226);
}

#visibility{
	margin-top:-5.5%;
	flex: 1 0 100px;
	display: flex;
	position:absolute;
	margin-left:30%;
	width:10%;
	height:50px;
}

#restrictions{
	margin-top:-4.7%;
	flex: 1 0 100px;
	display:flex;
	position:absolute;
	margin-left:41%;
	width:10%;
	height:50px;
}

#date{
	margin-top:-4.2%;
	float:right;
	position:absolute;
	margin-left:54%;
	width:10%;
	height:50px;
}

#views{
	margin-top:-3.8%;
	float:right;
	position:absolute;
	margin-left:62%;
	width:10%;
	height:50px;
}

#comments{
	margin-top:-3.6%;
	float:right;
	position:absolute;
	margin-left:70%;
	width:10%;
	height:50px;
}

#likes{
	margin-top:-3.4%;
	float:right;
	position:absolute;
	margin-left:80%;
	width:10%;
	height:50px;
}

.floatingtext{
	font-size:100%;
}

#header{
    margin: 0px;  
    height: 50px;
    border-bottom: 1px solid rgb(226, 226, 226);
}

#upload_vid_p{
	font-family: 'Roboto', 'Noto', sans-serif;
	font-size:20px;
	float:left;
}

#upload_image_div{
	margin-top:25px;
	text-align:center;
}

#upload_image{
	padding: 10px;
	border: 0px solid rgb(226, 226, 226);
	background-color:rgb(226, 226, 226);
	border-radius: 50%;
}

#drag_drop_p{
	padding:5px;
	color: #212121;
}

#private_until_p{
	padding:5px;
	color: #0000008C;
}

#select_files{
	border: 0px solid rgb(226, 226, 226);
	font-size:14px;
	font-family: 'Roboto', 'Noto', sans-serif;
	background-color: #065fd4;
	color:white;
	width:160px;
	height:36px;
}

.footer_p{
	margin-top:20px;
	font-size:12px;
	font-family: 'Roboto', 'Noto', sans-serif;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 20px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius:15px;
  width: 800px;
  height:400px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}