body {
    margin-top: 4px;
    margin-right: 0px;
    margin-left: 0px;
}


.horizNav {
    margin: 0px;  
    height: 45px;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.horizNav img {
    width: 20px;
    height: 20px;
}

#profileImage {
    width: 27px;
    height: 27px;
    /* background: url("unnamed.png") no-repeat; */
    background-size: contain;
    border-radius: 50%;
    vertical-align: middle;
    border: none;
}

#profileImage:hover {
    cursor: pointer;
}

#gridImage {
    width: 16px;
    height: 16px;
    background: url("images/grid.png") no-repeat;
    background-size: contain;
    border: none;
    vertical-align: middle;
}

#gridImage:hover {
    /* background: url("images/grid-after-click.png") no-repeat; */
    /* background-size: contain; */
    cursor: pointer;
}

#vidImage {
    width: 20px;
    height: 20px;
    background: url("images/vid.jpeg") no-repeat;
    background-size: contain;
    border: none;
    vertical-align: middle;
}

#bellImage {
    width: 20px;
    height: 20px;
    background: url("images/bell.webp") no-repeat;
    background-size: contain;
    border: none;
    vertical-align: middle;
}

#bellImage:hover {
    cursor: pointer;
}

#vidImage:hover {
    cursor: pointer;
}

input {
    margin-left: 20px;
}

#logo {
    width: 86px;
    height: 20px;
    vertical-align: middle;
}

#searchText {
    padding-left: 10px;
    width: 66%;
    height: 25px;
    margin-right: 0px;
    border: 1px solid rgb(196, 196, 196);
    font-size: small;
    font-weight: 300;
}

#searchBtn {
    position: relative;                  
    bottom: -4px;                          
    margin-left: -4px;
    border: 1px solid rgb(196, 196, 196);
    border-left: none;
    border-radius: 0px;
    background-color: rgb(238, 238, 238);
    height: 29px;
    width: 50px;
}

#searchBtn:hover {
    cursor: pointer;
}

#buttons {
    width: 175px;
    min-width: 175px;
    float: right;
    align-items: right;
    margin-top: 8px;
    margin-right: 15px;
    
}

#searchBox {
    text-align: center;
    width: calc(100% - 305px);
    float: left;
}

#youtubelogo {
    width: 100px;
    float: left;
    margin-top: 8px;
    margin-left: 15px;
}

#box{
    background-color: rgb(251, 251, 251);
    padding-left: 22px;
    padding-top: 22px;
    border-top: none;   
   
   
}

#watchVideo{
    width: 100%;
    height: 540px;

}
#videoBox{
    margin-bottom: 30px;
    border-bottom: solid rgb(154, 154, 154);
    border-bottom-width: 1px;
    padding-bottom: 12px;
    width: 70%;


}
.vidTitle{
    font-weight: 200;
   
    
}
#viewCount{
    margin-top: -8px;
    color: rgb(78, 78, 78);
    display: inline;
    margin-right: 4%;
    
}
#likeMenu{
    /* to display like menue next to view count */
    display: inline; 
    float: middle;
    margin-left:33.5%;
}
#likeImage {
    margin-top: -9px;
    width: 25px;
    height: 25px;
    background: url("images/like1.png") no-repeat;
    background-size: contain;
    border: none;
    vertical-align: middle;
}
#likeImage:active{
    margin-top: -9px;
    width: 25px;
    height: 25px;
    background: url("images/liked.png") no-repeat;
    background-size: contain;
    border: none;
    vertical-align: middle;
}

#dislikeImage {
    margin-top: -5px;
    width: 25px;
    height: 25px;
    background: url("images/dislike1.png") no-repeat;
    background-size: contain;
    border: none;
    vertical-align: middle;
}
#shareImage {
    margin-top: -5px;
    width: 25px;
    height: 25px;
    background: url("images/share.png") no-repeat;
    background-size: contain;
    border: none;
    vertical-align: middle;
}
#saveImage {
    margin-top: -5px;
    width: 25px;
    height: 25px;
    background: url("images/save.png") no-repeat;
    background-size: contain;
    border: none;
    vertical-align: middle;
}
#dotsImage {
    margin-top: -5px;
    width: 25px;
    height: 25px;
    background: url("images/dots1.png") no-repeat;
    background-size: contain;
    border: none;
    vertical-align: middle;
}
.likes{
   
    color: rgb(78, 78, 78);
    margin-right: 14px;
    font-family: sans-serif;
}
#tuberImage {
    /* display: inline; */
    width: 40px;
    height: 40px;
    background: url("images/profile.png") no-repeat;
    background-size: contain;
    border: none;
    margin-left: 0px;
    margin-top: 0px;
    padding-top: 0px;
    
    /* padding-bottom: -20px; */
    /* margin-right: 15px; */
}
#tuberInfo{
    display: inline-block;
  
   
   
}
.tuberName{
    display: inline;
    font-weight: bold;
    font-family: sans-serif;
}
.tuberSubs{
    color: rgb(78, 78, 78);
    font-size: 15px;
    font-weight: lighter;
    margin-right: 620px;
}
#subButton{
  
    background-color: rgb(107, 182, 67);
    display: inline-flex;
    font-size: 18px;
    /* font-stretch: extra-expanded; */
    font-family: sans-serif;
    font-weight: light;
    color: white;
    padding: 10px 32px;
    border: none;

}
#notifImage {
    width: 30px;
    height: 30px;
    background: url("images/bell1.png") no-repeat;
    background-size: contain;
    border: none;
    vertical-align: middle;
}
#descriptionCont{
    padding-top: 0%;
    font-family: sans-serif;
}
#description{
    width: 50%;
    margin-left: 4.2%;
    padding-top: 15px;
}

#upNext{
    display: flex;
    /* padding-left: 70%; */
    /* margin-left: 70%; */
    float: right;

    height: 100%;
    padding-right:2px;
    width: 400px;
    

}
.upNexttxt{
    float: left;
    font-family: sans-serif;
    width: 300px;
    height:18px;
    

}
#upNext ul{
    width: 500px;
    padding: 0px;
    margin-left: -72px;
    list-style-type: none;
    display: block;
}
#details{
    padding-top: 10px;
    text-indent: 8px;
}
/* #details h3{
    margin-top: -3px;
    margin-bottom: 30px;
} */
#test{
    margin-top: -3px;
    margin-bottom: 30px;
}
#details h5{
    margin-top: -15px;
    font-weight: 500;
    font-family: sans-serif;
    color: rgb(78, 78, 78);  
}
#upNext li{
    width: 100%;
}

#detailsImg{
    width: 170px;
    height: 90px;
    float: left;
    margin-left: -34%;
}
#commentsBox{
    width: 70%;
    border-top: solid rgb(78, 78, 78);
    border-top-width: 1px;
    display: flex;
    flex-flow: column;
    height: 100%; 
  
    margin-top: 20px;
 

  
}
.commentsBoxS{
    margin-top:25px;
    font-size: large;
    font-weight: 550;
}

#commentInput{
    height: 50px;
    font-size: 15px;
    outline: none;
    border-top:none;
    border-left: none;
    border-right:none;
    border-bottom-color: 1px rgb(202, 196, 196);
    
}

#commentBtns{
    margin-left: 73%;
    padding-top: 5px;
}
#commentBtn{
    background-color: rgb(165, 165, 165);
    display: inline-flex;
    font-size: 14px;
    /* font-stretch: extra-expanded; */
    font-family: sans-serif;
    font-weight: medium;
    color: white;
    padding: 10px 32px;
    border: none;
}
#cancelCommBtn{
    background-color: white;
    display: inline-flex;
    font-size: 14px;
    /* font-stretch: extra-expanded; */
    font-family: sans-serif;
    font-weight: medium;
    color: rgb(165, 165, 165);
    padding: 10px 32px;
    border: none;
}
#comment{
    display: inline;
   
}
#commName{
    display: inline;
    font-weight: bold;
}
#commContent{
    margin-left: 45px;
}
#likeMenuComm{
    margin-left: 5%;
    margin-top: 7px;
}
#likeImageComm {
    margin-top: -9px;
    width: 15px;
    height: 15px;
    background: url("images/like1.png") no-repeat;
    background-size: contain;
    border: none;
    vertical-align: middle;
}
#dislikeImageComm{
    margin-top: -5px;
    width: 15px;
    height: 15px;
    background: url("images/dislike1.png") no-repeat;
    background-size: contain;
    border: none;
    vertical-align: middle;
    margin-left: 15px;
}
#reply{
    background-color: white;
    display: inline-flex;
    font-size: 12px;
    /* font-stretch: extra-expanded; */
    font-family: sans-serif;
    font-weight: medium;
    color: rgb(125, 124, 124);
    border: none;
    margin-left: 15px;
}

/* #details {
    width: 200px;
    height: 400px;
    padding-left: 50%;

    padding-top: 40px;
    display: inline;
  
} */


